$text-secondary: #7D7D63;
$text-primary:#0d0d0d;
$down-arrow-color:#b4b4b4;
$hover-color:#f9f9f9;
$textarea-color:#0d0d0d;
$text-error: #f93a37;
$editiconcolor:#ececec;
$iconcolors:#7d7d7d;


$darkbackgroundcolor1:#212121;
$darkbackgroundcolor2:#2f2f2f;
$darkbackgroundcolor3:#424242;
$darkbackgroundcolor4:#242424;
$darkbackgroundcolor5:#676767;